<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Profile</title>
    <link rel="stylesheet" href="../styles/author-style.css">
</head>
<body>
<div class="profile-container">
    <div class="profile-header">
        <img src="" class="profile-pic">
        <div class="profile-info">
            <h1 id="user-name">Test</h1>
            <p id="user-bio">User Bio</p>
        </div>
    </div>

    <div class="profile-actions">
        <a href="post.html" class="button">Create New Post</a>
        <button id="logout-button" class="button logout">Log Out</button>
    </div>

    <div class="user-images">
        <h2>Uploaded Images</h2>
        <div id="image-list" class="image-gallery">
        </div>
    </div>

</div>

<script src=""></script>
</body>
</html>