<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../styles/authentication-style.css">
</head>
<body class="change-password-page">
<div class="parent-container">
    <h1>Change Password</h1>
    <form id="change-password-form">
        <label for="current-password">Current Password:</label>
        <input type="password" id="current-password" name="current-password" required>

        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required>

        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>

        <button type="submit">Update Password</button>
    </form>

    <p><a href="login.ejs">Back to Login</a></p>
</div>

<script src=""></script>
</body>
</html>