<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../styles/authentication-style.css">
</head>
<body>
<div class="parent-container">
    <h1>Sign Up</h1>
    <form id="signup-form" action="/SignUp" method="post">

        <div id="group__name">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div id="group__lastName">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>

        <div id="group__username">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div id="group__email">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div id="group__password">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div id="group__confirm-password">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="login.ejs">Log in</a></p>
</div>

<script src="../scripts/signUp.js"></script>
</body>
</html>