<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Two-Step Verification</title>
  <link rel="stylesheet" href="../styles/authentication-style.css">
</head>
<body class="twoStepVerification-page">
<div class="parent-container">
  <div class="form-container">
    <h1>Two-Step Verification</h1>
    <p>A one-time password (OTP) has been sent to your email. Please enter it below to verify your identity.</p>
    <form action="/TwoStepVerification" method="POST">
      <label for="codigo">Enter OTP:</label>
      <input type="text" id="codigo" name="codigo" required>
      <% if (error) { %>
      <div class="error"><%= error %></div>
      <% } %>
      <% if (msg) { %>
      <div class="success"><%= msg %></div>
      <% } %>
      <button type="submit" class="btn">Verify</button>
    </form>
  </div>
</div>
</body>
</html>